@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css");

$base-color: adjust-hue(desaturate(#53688C, 5%), 340);
// $base-color: desaturate(#53688C, 15%);

// Dynamic colors to make changing the palette easier.
$incidents-background-color: $base-color;
$incidents-search-color: lighten(adjust-hue($incidents-background-color, -5), 15%);

$incident-reports-width: 26rem;

@import "bourbon/_bourbon.scss";

@import "mixins.scss";

@import "dateRangeSlider.scss";

@font-face {
  font-family: 'Urban Elegance';
  src: url('/fonts/Urban Elegance Bold.ttf');
}

//
// Aww, yeah. Here come that bullshit!
//

html, body, app-container {
  width: 100%;
  min-width: 1060px;
  height: 100%;
  min-height: 900px;
}

app-container {
  display: flex;
  flex-direction: row;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 0rem;
  background: none; //$incidents-background-color;
  border-bottom-left-radius: 5px;
  //border: 1px solid darken($incidents-background-color, 15%);
  border-top: none;
  border-right: none;
  color: #FFF;
  z-index: 10;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      display: inline-block;
    }

    .nav-item {
      float: right;
      margin-top: -17px;
      background: darken($incidents-search-color, 10%);
      padding: 1rem 1.5rem;
      border-top-width: 0px;
      box-shadow: 0px 2px 0px rgba(0,0,0,0.15);
      border-left-width: 0px;

      @include transition(all 0.2s ease);
      border: 1px solid rgba(0,0,0,0.2);
      display: inline;
      cursor: pointer;

      &:first-child {
        margin-right: 0px !important;
        border-left-width: 1px;
      }

      &:last-child {
        border-bottom-left-radius: 3px;
        border-right-width: 0px;
      }

      &:hover {
        background: $incidents-search-color;
        box-shadow: 0px 2px 1px rgba(0,0,0,0.2);
        padding: 1rem 1.85rem;
        text-decoration: underline;
      }
    }
    .title {
      display: none;
      font-family: 'Urban Elegance';
      font-size: 20pt;
      letter-spacing: 1px;
      text-decoration: none;
      margin-right: 1.5rem;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.6);

      .fix0 {
        margin-right: -1px;
      }
      .fix1 {
        margin-left: -3px;
        margin-right: -3px;
      }
      .fix2 {
        margin-left: -2px;
        margin-right: 1px;
      }
      .fix3 {
        margin-right: 1px;
      }
    }
  }
}

incident-reports {
  background: $incidents-background-color;
  border-right: 1px solid darken($incidents-background-color, 15%);
  flex-grow: 0;
  width: $incident-reports-width;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.25);
  z-index: 1;

  #search-incidents {
    @include placeholder(rgba(255,255,255,0.8), inherit);
    background: saturate($incidents-search-color, 10%);
    background-image: url(http://findicons.com/files/icons/1389/g5_system/32/toolbar_find.png);
    background-repeat: no-repeat;
    background-position: 98.75% 3px;
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    color: #FFF;
    width: 100%;
    font-size: 10pt;
    padding: 0.75rem 0.75rem;
    @include transition(all 0.5s ease);

    &:focus {
      outline: none;
      color: #FFF !important;
    }

    &.focused {
      padding: 1.5rem 0.75rem;
      font-size: 12pt;
      background-position: 98.75% 18px;
    }
  }
}
incident-report {
  display: block;
  padding: 0.5rem;
  padding-top: 0.75rem;
  overflow: hidden;
  text-overflow: clip;
  width: $incident-reports-width;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  color: #FFF;
  cursor: pointer;
  @include transition(all 0.1s ease);
}

.status {
  padding-bottom: 0.375rem ;
  font-size: 8.5pt;
  .type {
    text-transform: uppercase;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 2px 25px 2px 25px;
    margin-left: 0.131rem;
    border-radius: 5px;
    position:relative;
    font-size: 8pt ;
    margin-top: 4p
  }
  .crit {
    background: rgba(255,0,0, 0.4);
  }
}
.date {
  margin-top: 5px;
  font-size: 7.5pt;
  font-style: italic;
  color: rgba(255,255,255,0.7);
}

incident-report:hover {
  display: block;
  padding: 1rem;
  padding-top: 1.5rem;
  padding-left: 0.5rem;
  overflow: hidden;
  text-overflow: clip;
  width: $incident-reports-width;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  color: #FFF;
  cursor: pointer;

  .status {
    padding-bottom: 0.75rem;
    font-size: 15pt;
    .type {
      text-transform: uppercase;
      border: 1px solid rgba(255,255,255,0.3);
      padding: 5px 45px 5px 45px;
      margin-left: 0.25rem;
      border-radius: 10px;
      position:relative;
      top: -2px;
      font-size: 10pt;
    }
    .crit {
      background: rgba(255,0,0, 0.4);
    }
  }
  .date {
    margin-top: 10px;
    font-size: 9pt;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
  }
}

incident-report address {
  text-shadow: 1px 1px 0px #000;
}

no-incidents {
  display: block;
  padding: 0.75rem;
  color: #EEE;
  text-shadow: 1px 1px 0px #000;
}

map-container {
  position: relative;
  flex-grow: 1;

  #incident-map-view { position: absolute; top:0; bottom:0; width:100%; }

  incident-map {
    width: 100%;
    height: 100%;
    & > *:focus {
      border: none;
      outline: none;
    }
    #toggle-incidents-view {
      border: 1px solid darken($incidents-background-color, 15%);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: none;
      width: 18px;
      height: 28px;
      left:-1px;
      color: rgba(255,255,255,0.4);
      padding-left: 6px;
      padding-top: 9px;
      font-size: 28px;
      background: darken($incidents-background-color, 5%);
      position: absolute;
      top: 47%;
      z-index: 2;
      cursor: pointer;
    }
  }
}

.mapboxgl-popup-content {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    .status {
      @extend .status;
    }
  }
}

@media screen and (max-width: 1280px) {
  incident-reports {
    width: 24rem;
  }
}
