.idea/*
.gitignore
*.xml
*migrations*
secret-settings.py
secret_settings.py
dispatch_settings.py
*.pydev
*.project
*.pyc
__pycache__/
*.py[cod]
*private/*
private/
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.log
docs/_build/
*.xml
*migrations*
