{% extends "global/sitewide.html" %}

{% block extra_head %}
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.js'></script>

    <script src="/static/global/js/auth.js"></script>
    <script src="/static/global/js/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="/static/global/css/jquery.modal.css" />
    <link rel="stylesheet" href="/static/global/css/public_auth.css" />

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
{% endblock %}

{% block top_bar %}
    {% include "global/top_bar.html" %}
{% endblock %}

{% block main %}

<div id="login-background">

    <div id="login-container">

        <div id="login-form-wrapper">

            <form id="login-form">
                <div id="welcome-header">
                    <h2>Welcome!</h2>
                </div>

                <div id="username" name="username" class="user-input">
                    <input id="username-input" placeholder="Username"></input>
                </div>

                <div id=password" name="password" class="user-input">
                    <input id="password-input" type="password" placeholder="Password"></input>
                    <div id="forgot-password">Forgot password?</div>
                </div>

                <input type="submit" id="form-submit" style="display: none;" onSubmit="preventDefault()"></input>
                <div id="login-meta">
                    <a id="sign-up" class="button green">Sign Up</a>
                </div>
            </form>

            <div id="registration-form">
                <a id="back-to-login" class="button">< Back To Login</a>
                <button id="submit">SIGN UP</button>
                {{ account_form.as_p }}
                <a id="show-location-form-button" href="#add-location-form-container" rel="modal:open" class="button">
                    + Add Location
                </a>
            </div>
            <div id="add-location-form-container" style="display:none;">
                <div id="add-location-form-progress">
                    <a id="show-location-form" class="active">Description</a>
                    <span>>></span>
                    <a id="show-fixedpoint-form">Location</a>
                </div>
                <div id="add-location-form">
                    {{ user_location_form.as_p }}
                    <button id="show-fixedpoint-form" class="show-next-form button">Next ></button>
                </div>
                <div id="add-fixedpoint-form">
                    <div id="fixedpoint-form-map"> </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
