{% extends "global/sitewide.html" %}

{% block extra_head %}
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.js'></script>

    <script src="/static/global/js/auth.js"></script>
    <link rel="stylesheet" href="/static/global/css/public_auth.css" />
{% endblock %}

{% block main %}

<div id="login-background">

    <div id="login-container">

        <div id="login-form-wrapper">

            <div id="welcome-header">
                <h2>Welcome!</h2>
            </div>

            <form id="login-form"">
                <div id="username" name="usernm" class="user-input">
                    <input id="username-input" placeholder="Username"></input>
                </div>

                <div id=password" name="passwd" class="user-input">
                    <input id="password-input" type="password" placeholder="Password"></input>
                    <div id="forgot-password">Forgot password?</div>
                </div>

                <input type="submit" id="form-submit" style="display: none;" onSubmit="preventDefault()"></input>
            </form>

            <div id="login-meta">
                <div id="sign-up">Sign Up</div>
            </div>

            <div id="registration-form">
                {{ user_form.as_p }}{{ account_form.as_p }}
            </div>
            <div id="add-location-on-signup"><a>+ Add Location</a></div>
            <div id="add-location-form">
                {{ user_location_form.as_p }}
                {{ fixed_location_form.as_p }}
            </div>
            <div id="little-map"> </div>
        </div>

    </div>
</div>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script>
L.mapbox.accessToken = 'pk.eyJ1Ijoia3ByYXNjaCIsImEiOiJ0U1RtQVpvIn0.wHmPex20_XUmpjL2a0a4mQ';
  var map = L.mapbox.map('little-map', 'mapbox.streets')
      .setView([41.8900, -74.2600], 10)
      .addControl(L.mapbox.geocoderControl('mapbox.places', {
        keepOpen: true
    }));

  var featureGroup = L.featureGroup().addTo(map);

  var drawControl = new L.Control.Draw({
    edit: {
      featureGroup: featureGroup
    },
    draw: {polyline: false,
           polygon: false,
           rectangle: false,
           circle: false
    }
  }).addTo(map);

  map.on('draw:created', function(e) {
      featureGroup.addLayer(e.layer);
  });
</script>



{% endblock %}
