<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/favicon.ico">

  <title></title>

  <!-- CDN JavaScript -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

  <!-- Local Javascript -->
  <script src="/static/global/js/jquery-ui.min.js"></script>
  <script src="/static/global/js/csrf.js"></script>

  <!-- CDN CSS -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <!-- Local CSS -->
  <link href="/static/global/css/main.css" rel="stylesheet">

  <!-- Websocket JS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.3/sockjs.min.js"></script>

  <!-- Mapbox JS CDN -->
  <script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-osm/v0.1.0/leaflet-osm.js'></script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>

  <!-- Mapbox GL CDN -->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.0/mapbox-gl.css' rel='stylesheet' />

  <!-- Nano Scroller JS -->
  <link rel="stylesheet" href="/static/global/css/classic.css" type="text/css" />
  <link rel="stylesheet" href="/static/global/css/nanoscroller.css">
  <script src="/static/global/js/jquery.nanoscroller.min.js"></script>


  {% block extra_head %}

  {% endblock %}


</head>


  {% block top_bar %}

  {% endblock %}


  {% block main %}

  {% endblock %}


</html>
