<!doctype html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
<script>
var map, marker, waypointByID = {};

function initialize() {
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 5,
        center: new google.maps.LatLng(41.879535, -87.624333),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
}

{% for incident in incidents %}
waypointByID[{{incident.id}}] = {
    name: "{{incident.name}}",
    lat: {{incident.geometry.y}},
    lng: {{incident.geometry.x}}
};
{% endfor %}

$(document).ready(function () {
    function displayIncidents() {
        // Add incident click handler
        $('.incident').each(function () {
            $(this).click(function() {
                var incident = waypointByID[this.id];
                var center = new google.maps.LatLng(incident.lat, incident.lng);
                if (marker) marker.setMap();
                marker = new google.maps.Marker({map: map, position: center});
                map.panTo(center);
            }).hover(
                function () {this.className = this.className.replace('OFF', 'ON');},
                function () {this.className = this.className.replace('ON', 'OFF');}
            );
        });
    }
    displayIncidents();
});
</script>
<style>
    body {font-family: sans-serif}
    #map {width: 500px; height: 300px}
    #waypoints {overflow: auto; width: 500px; height: 100px}
    .linkOFF {color: darkblue}
    .linkON {color: white; background-color: darkblue}
</style>
</head>
<body onload='initialize()'>
    <div id=map></div>
    <div id=waypoints>
        {{content}}
    </div>
</body>
</html>

{% for waypoint in waypoints %}
    <div id={{waypoint.id}} class='waypoint linkOFF'>
        {{incident.name}} ({{incident.geometry.y}}, {{incident.geometry.x}})
    </div>
{% endfor %}