@font-face {
    font-family: ubuntu;
    src: url('/static/fonts/Ubuntu-R.ttf');
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    margin:0;
    padding:0;
    font-family: ubuntu;
}

a {
    text-decoration: none;
}

#login-meta {
    position: relative;
    height: 30px;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    background: rgb(240, 240, 240);
    padding-top: 1.33em;
    width: 95.5%;
    margin-top: 40px;
}

#forgot-password  {
    width: 289px;
    margin-right: auto;
    margin-left: auto;
    color: #2323DD;
    text-size: 9px;
    text-decoration: underline;
    padding-top: 5px;
    text-align: left;
}

#sign-up {
    margin-right: auto;
    margin-left: auto;
}

#burger {}

#top-bar {
    padding-top: 0.25em;
    padding-bottom: 0.28em;
    background-color: #3887BE;
    top: 0;
    left: 0;
    z-index: 1111;
    width: 100%;
    position: absolute;
    border-bottom: 3px solid  rgba(86, 138, 156, 0.6);
}

.nav-label {
	float: left;
	position: relative;
	margin-left: 32px;
	margin-right: 32px;
	color: #BBB;
	cursor: not-allowed;
	font-size: 13px;
}

#top-bar a {
    color: #FFF;
    font-weight: bold;
    transition(all ease-in 0.25s);
}
#top-bar a:hover {
    color: #D3ECF5;
    transition(all ease-out 0.5s);
}

#left-nav {
    float: left;
    padding: 6px;
}

#right-nav {
    float: right;
    padding: 6px;
}

#app-container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#sidebar {
    background-color: white;
    border-right: 1px solid #888;
    height: 40%;
    left: 37px;
    position: absolute;
    top: 82px;
    width: 30%;
    z-index: 555;
    min-width: 300px;
    border-left: none;
    margin-top: 1px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #888;
    border-top:1px solid #888;
}

#notifier {
    background: white;
    font-size: 9px;
    position: fixed;
    height: 12px;
    width: 100%;
    float: right;
    bottom: 0px;
    z-index: 999;
    left: 21%;
}

#dispatch-list {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    position: absolute;
    color: black;
}

#dispatch-list > li {
    border-left: 1px solid #888 !important;
    background: #FFF;
}

.meta-created {
    float: right;
    padding-right: 20px;
    font-size: 11px;
    color: #5F5F5F;
}

.meta-venue {
    padding-left: 7px;
}

.meta-dispatch {
    padding-left: 7px;
}

.meta-coords {
    float: right;
    padding-right: 21px;
    font-size: 10px;
    color: #5F5F5F;
}

.meta-xsts {
    padding-left: 7px;
}
}

.meta-lng {
}

.meta-lat {
}

.panes {
    background: white;
}


#lower-panes-container {
	bottom: 0%;
	right: 0%;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 500px;
	z-index: 1122;
	height: 300px;
	background-color: white;
	border-top: 1px solid #777;
	border-left: 1px solid #777;
}

#insight-controls {
    position: relative;
    height: 100%;
    width: 40px;
    float: left;
    background-color: #DDD;
}

#insight-controls-list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin-left: 6px;
    top: 0;
    position: relative;
    margin-top: 0;
}

#insight-controls-list > li {
    display: block;
    cursor: pointer;
}

#insight-controls-list > li img {
    transition: all ease-in 0.15s;
}

#insight-controls-list > li img:hover {
    width: 26px;
    transition: all ease-out 0.25s;
}

#insight-controls-list #hide-control:hover {
    width: 20px;
}

.chart-controls {
    float: left;
    padding-left: 0.25em;
    padding-right: 0.4em;
    clear: right;
    width: 30px;
    margin-top: 15px;
}

.chart-controls img {
    width: 20px;
}

.chart-controls img:hover {
    opacity: 0.5;
}

.lower-panes {
    border-right: 1px solid #888;
    border-left: 1px solid #FFF;
    bottom: 0;
    float: left;
    height: 350px;
    left: 24px;
    position: relative;
    width: 33%;
}


#pane-two {
    width: 47%;
    display: none;
}

#total-counter-label {
    color: buttonshadow;
    padding-left: 5%;
    float:left;
}

#selected-counter-label {
    color: buttonshadow;
    padding-left: 17%;
    padding-right: 5%;
    float: left;
}

#counter-digits {
	font-size: 25px;
    display: inline-block;
	float: right;
	padding: 0.48em 0.5em;
	padding-top: 0.43em;
}

#selected-digits {
    border-left: 1px solid #888;
	font-size: 25px;
	display: block;
	padding: 0.48em 0.5em;
	padding-top: 0.43em;
	float: right;
}
#list-filter-input::after {
    display: table;
    content: "";
    clear: both;
}

#pane-three {
    width: 80%;
    border-left: none;
    position:relative;
    padding-right: 36px !important;
}

#pane-four {}

#bottombar {
    background-color: white;
    height: 20%;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 20%;
}

#map {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    top: 72px;
    border: 1px solid #888;
    z-index: 555;
}

.incident-li {
    border-bottom: 1px solid #888;
    height: 53px;
    list-style: outside none none;
    margin: 0;
    padding: 3px;
    position: relative;
    text-decoration: none;
    width: 100%;
    font-size: 12px;
    line-height: 18px;
}

.incident-li:last-child {
    border-bottom: none;
}

.incident-li:hover {
    background: #D9D9D9;

}

.incident-li-active {
    background: #EDF4FF;

}

.dispatch-list-error {
    position: relative;
    top: 14%;
    float: left;
    padding-left: 2%;
    font-style: italic;
    color: #5F5F5F;
}


.menu-ui {
    background:#fff;
    position:absolute;
    top:10px;right:10px;
    z-index:1000;
    border-radius:3px;
    width:120px;
    border:1px solid rgba(0,0,0,0.4);
}
.menu-ui a {
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
}
.menu-ui a:first-child {
    border-radius:3px 3px 0 0;
}
.menu-ui a:last-child {
    border:none;
    border-radius:0 0 3px 3px;
}
.menu-ui a:hover {
    background:#f8f8f8;
    color:#404040;
}
.menu-ui a.active {
    background:#3887BE;
    color:#FFF;
}
.menu-ui a.active:hover {
    background:#3074a4;
}

#little-map {
    position: relative;
    top: 0;
    bottom: 0;
    width: 90%;
    height: 200px;
}

.nano {
    background: #bba;
    height: 100% !important;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius:  3px;
    border-bottom: 1px solid #888;
    border-right:  1px solid #888;
}
.nano .nano-content { padding: 10px; }
.nano .nano-pane   { background: #888; }
.nano .nano-slider { background: #111; }

#list-filter {
    width: 100%;
    display: block;
    height:52px;
    border-bottom: 1px solid #888;
    z-index: -8;
}


#list-filter-input {
	border-bottom: 1px solid #777;
	border-top: medium none;
	border-left: medium none;
	left: 10px;
	padding: 5px !important;
    padding-left: 0px;
	position: relative;
	float:left;
	width: 60%;
    margin-top: 0.75em; /* Ghetto hack sorry! */
}

.streetview-img {
    position: relative;
    width: 100%;
}

#slider {
    position: absolute;
    z-index: 1111;
    width: 100%;
    top: 37px;
}

#loader {
    display: none;
    float: left;
    display: inline;
    margin-left: -13px;
    margin-top: 13px;
    z-index: -9;
}

nav#menu-ui {
    top:82px !important;
}

nav#menu-ui > a {
    padding: 4px;
}

div.leaflet-control-zoom {
    /* JUST IN CASE */
}


#notifier {
    display: none;
}

.nano .has-scrollbar {
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
}