#responder-map {
    border: 1px solid #888;
    float: right;
    height: 100%;
    right: 0;
    top: 72px;
    width: 50%;
    z-index: 555;
    position: absolute;
}

#not-map {
    border-top: 1px solid #888;
    height: 100%;
    left: 0;
    position: absolute;
    top: 72px;
    width: 50%;
}

#responder-list-container {
    height: 100%;
    position: relative;
    width: 100%;
}

#responder-list-container table {
    width: 100%;
}

#responder-list {
    text-decoration: none;
    width: 100%;
}

.responder-li {
    border-bottom: 1px solid #888;
    text-decoration: none;
    margin-top: -2px;
}
.responder-li > td.responder-meta:first-child {
    border-left: none;
}

#responder-labels {
    border-bottom: 1px solid #888;
    height: 26px;
    text-decoration: none;
}

.responder-meta {
    font-size: 10pt;
    padding: 0.5em;
    border-left: 1px solid #999;
}

.responder-meta-labels {
    border-left: 1px solid #777;
    width: 25%;
    font-size: 13pt;
    font-weight: 600;
    padding: 1em;
}
.responder-meta-labels:first-child {
    border-left: none;
}

#notifier {
    position: fixed;
    bottom: 0px;
    height: 15px;
    width: 100%;
}

.responder-table-header {
    margin-top: -3px;
    border-bottom: 1px solid #888;
}

table .spacer {
    padding: 0;
    margin: 0;
    height: 1px;
    background: #888;
}

table {
    border-collapse: collapse;
}