@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css');
@font-face {
  font-family: 'Urban Elegance';
  src: url('/fonts/Urban Elegance Bold.ttf?69778118b069'); }

/* line 25, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
html, body, app-container {
  width: 100%;
  height: 100%; }

/* line 30, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
app-container {
  display: flex;
  flex-direction: row; }

/* line 35, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 0.85rem;
  background: #646c7b;
  border-bottom-left-radius: 5px;
  border: 1px solid #424751;
  border-top: none;
  border-right: none;
  color: #FFF;
  z-index: 10; }
  /* line 47, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    /* line 52, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
    nav ul > li {
      display: inline-block; }
    /* line 56, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
    nav ul .nav-item {
      float: right;
      margin-top: -4px;
      border-radius: 5px;
      background: #8b95a1;
      padding: 0.5rem 0.75rem;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      transition: all 0.1s ease;
      border: 1px solid rgba(0, 0, 0, 0.4);
      display: inline;
      cursor: pointer;
      margin-right: 0.8rem; }
      /* line 68, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
      nav ul .nav-item:nth-child(2) {
        margin-right: 0px; }
      /* line 71, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
      nav ul .nav-item:hover {
        background: #6f7b89; }
    /* line 75, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
    nav ul .title {
      display: none;
      font-family: 'Urban Elegance';
      font-size: 20pt;
      letter-spacing: 1px;
      text-decoration: none;
      margin-right: 1.5rem;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); }
      /* line 84, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
      nav ul .title .fix0 {
        margin-right: -1px; }
      /* line 87, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
      nav ul .title .fix1 {
        margin-left: -3px;
        margin-right: -3px; }
      /* line 91, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
      nav ul .title .fix2 {
        margin-left: -2px;
        margin-right: 1px; }
      /* line 95, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
      nav ul .title .fix3 {
        margin-right: 1px; }

/* line 102, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
incident-reports {
  background: #646c7b;
  border-right: 1px solid #424751;
  flex-grow: 0;
  width: 26rem;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.25);
  z-index: 1; }
  /* line 112, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
  incident-reports #search-incidents {
    background: #8094ab;
    background-image: url('http://findicons.com/files/icons/1389/g5_system/32/toolbar_find.png');
    background-repeat: no-repeat;
    background-position: 98.75% 3px;
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    color: #FFF;
    width: 100%;
    font-size: 10pt;
    padding: 0.75rem 0.75rem;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    /* line 2, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/mixins.scss */
    incident-reports #search-incidents::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.8);
      font-size: inherit; }
    /* line 8, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/mixins.scss */
    incident-reports #search-incidents:-moz-placeholder {
      color: rgba(255, 255, 255, 0.8);
      font-size: inherit; }
    /* line 14, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/mixins.scss */
    incident-reports #search-incidents::-moz-placeholder {
      color: rgba(255, 255, 255, 0.8);
      font-size: inherit; }
    /* line 20, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/mixins.scss */
    incident-reports #search-incidents:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.8);
      font-size: inherit; }
    /* line 126, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
    incident-reports #search-incidents:focus {
      outline: none;
      color: #FFF !important; }
    /* line 131, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
    incident-reports #search-incidents.focused {
      padding: 1.5rem 0.75rem;
      font-size: 12pt;
      background-position: 98.75% 18px; }

/* line 138, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
incident-report {
  display: block;
  padding: 0.5rem;
  padding-top: 1.25rem;
  overflow: hidden;
  text-overflow: clip;
  width: 26rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: #FFF;
  cursor: pointer; }
  /* line 149, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
  incident-report .status {
    padding-bottom: 0.375rem;
    font-size: 8.5pt; }
    /* line 152, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
    incident-report .status .type {
      text-transform: uppercase;
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 2px 25px 2px 25px;
      margin-left: 0.131rem;
      border-radius: 5px;
      position: relative;
      font-size: 8pt;
      margin-top: 4p; }
    /* line 162, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
    incident-report .status .crit {
      background: rgba(255, 0, 0, 0.4); }
  /* line 166, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
  incident-report .date {
    margin-top: 5px;
    font-size: 7.5pt;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7); }

/* line 175, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
incident-report:hover {
  display: block;
  padding: 1rem;
  overflow: hidden;
  text-overflow: clip;
  width: 26rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: #FFF;
  cursor: pointer; }
  /* line 185, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
  incident-report:hover .status {
    padding-bottom: 0.75rem;
    font-size: 15pt; }
    /* line 188, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
    incident-report:hover .status .type {
      text-transform: uppercase;
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 5px 45px 5px 45px;
      margin-left: 0.25rem;
      border-radius: 10px;
      position: relative;
      top: -2px;
      font-size: 10pt; }
    /* line 198, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
    incident-report:hover .status .crit {
      background: rgba(255, 0, 0, 0.4); }
  /* line 202, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
  incident-report:hover .date {
    margin-top: 10px;
    font-size: 9pt;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7); }

/* line 210, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
incident-report address {
  text-shadow: 1px 1px 0px #000; }

/* line 214, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
map-container {
  position: relative;
  flex-grow: 1; }
  /* line 218, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
  map-container #incident-map-view {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }
  /* line 220, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
  map-container incident-map {
    width: 100%;
    height: 100%; }
    /* line 223, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
    map-container incident-map > *:focus {
      border: none;
      outline: none; }
    /* line 227, /Users/zack/Programming/python/git/Dispatch.py/static-files/stylesheets/main.scss */
    map-container incident-map #toggle-incidents-view {
      border: 1px solid #424751;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: none;
      width: 18px;
      height: 28px;
      left: -1px;
      color: rgba(255, 255, 255, 0.4);
      padding-left: 6px;
      padding-top: 9px;
      font-size: 28px;
      background: #58606d;
      position: absolute;
      top: 47%;
      z-index: 2;
      cursor: pointer; }
