{% extends "global/sitewide.html" %}

{% block extra_head %}
  <script src="/static/global/js/responder-sock.js"></script>
  <link href="/static/global/css/responder.css" rel="stylesheet">

{% endblock %}

{% block top_bar %}
  {% include "global/top_bar.html" %}
{% endblock %}

{% block main %}

<div id="app-container">

    <div id="loader-container">
        <div id="loader"><img src="/static/img/loader.gif" /></div>
    </div>

    <div id="not-map">
        <div id="responder-list-container">
            <table>
                <tr class="responder-table-header">
                    <th class="responder-meta-labels">
                        Name
                    </th>
                    <th class="responder-meta-labels">
                        Role
                    </th>
                    <th class="responder-meta-labels">
                        ETA
                    </th>
                    <th class="responder-meta-labels">
                        Status
                    </th>
                </tr>
                <tr class="spacer"></tr>
            </table>
        </div>

        <div id="below-responders">
            <div class="nano">
                <ul id="dispatch-list" class="nano-content">

                </ul>
            </div>
        </div>
    </div>

    <nav id='menu-ui' class='menu-ui'></nav>
    <div id='responder-map'></div>

<div id="notifier"></div>

<div id="footer"></div>

</div>



<script>
{% if venue_filter == None %}
    var geoJSON = '/get_geoincidents'
{% else %}
    var geoJSON = '/get_geoincidents/{{ venue_filter }}'
{% endif %}
</script>
<script src="/static/global/js/responder-map.js"></script>

{% endblock %}