{% extends "sitewide.html" %}

{% block main %}

<body>
  <script>
    $(function () {
      $('#container').highcharts({
          title: {
              text: 'Gross incidents by hour of the day.',
              x: -20 //center
          },
          subtitle: {
              text: '',
              x: -20
          },
          xAxis: {
              categories: ['0', '1', '2', '3', '4', '5',
                  '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17',
                  '18', '19', '20', '21', '22', '23']
          },
          yAxis: {
              title: {
                  text: 'Number of Incidents'
              },
              plotLines: [{
                  value: 0,
                  width: 1,
                  color: '#808080'
              }]
          },
          tooltip: {
              valueSuffix: ''
          },
          legend: {
              layout: 'vertical',
              align: 'right',
              verticalAlign: 'middle',
              borderWidth: 0
          },
          series: [ {
              name: 'Incidents',
              data: {{ x_values }}
          }]
      });
  });
  </script>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Dispatch.py</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Help</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>
  </div>
      <div class="main">
        <h1 class="page-header">Dashboard</h1

        <h2 class="sub-header">Incidents</h2>
        <body>

          <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

        <div id="table-responsive" class="table-responsive">
          <table id="incident_table" class="tablesorter">
            <thead>
              <tr>
                <th>ID</th>
                <th>Unit</th>
                <th>Venue</th>
                <th>Incident</th>
                <th>Location</th>
                <th>Intersections</th>
                <th>Nature</th>
                <th>Common</th>
                <th>Addditional</th>
                <th>Recieved</th>
              </tr>
            </thead>
            <tbody>
              {% for incident in incident_list %}
              <tr>
                <td>{{ incident.id }}</td>
                <td>{{ incident.Unit }}</td>
                <td>{{ incident.Venue }}</td>
                <td>{{ incident.Inc }}</td>
                <td>{{ incident.Loc }}</td>
                <td>{{ incident.Xsts }}</td>
                <td>{{ incident.Nature }}</td>
                <td>{{ incident.Common }}</td>
                <td>{{ incident.Addtl }}</td>
                <td>{{ incident.datetime }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}
