<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.js"></script>

    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.15.0/mapbox-gl.css" rel='stylesheet'/>

    {% load compress %}

    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="/static/stylesheets/main.scss" />
    {% endcompress %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/document-register-element/0.5.3/document-register-element.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.10/css/perfect-scrollbar.min.css"
          rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.10/js/min/perfect-scrollbar.jquery.min.js"></script>

    {% compress js %}
        <script src="/static/js/custom-tags.js"></script>
        <script src="/static/js/animations.js"></script>
        <script src="/static/js/angular.js"></script>
        <script src="/static/js/openDispatch.js"></script>
        <script src="/static/js/dateRangeSlider.js"></script>
    {% endcompress %}

    <title>responder-zero</title>
</head>

<body>
<nav>
    <ul>
        <li class="title">
            <span class="fix0">O</span>PEN-D<span class="fix3">I</span>SP<span class="fix1">A</span>T<span class="fix2">C</span>H
        </li>
        <li class="nav-item">Login / Sign-Up</li>
        <li class="nav-item">About</li>
    </ul>
</nav>
<app-container ng-app="openDispatch">
    <incident-reports ng-controller="incidentsController">
        <input id="search-incidents"
               type="text"
               placeholder="Search recent incidents..."
               ng-model="searchIncidents"
               ng-model-options="{ debounce: 500 }" />
        <incident-report ng-show="!incidents.length"><address>No incident(s) found for that query.</address></incident-report>
        {% verbatim incident-block %}
        <incident-report id="incident_{{ incident.id }}" ng-click="showIncidentPopUp(incident)" ng-repeat="incident in incidents | orderBy: incident.dispatch_time">
            <div class="status">
               <span class="type crit">{{ incident.meta.dispatch }}</span>
            </div>
            <address><b>{{ incident.meta.street_address }} NY</b></address>
            <div class="date">
                {{ incident.dispatch_time | date:"MM/dd/yyyy 'at' h:mma" }}
            </div>
        </incident-report>
        {% endverbatim incident-block %}
    </incident-reports>
    <map-container>
        <incident-map>
            <div id="date-range-container">
                <date-range-slider></date-range-slider>
            </div>
        </incident-map>
    </map-container>
</app-container>
</body>
