<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Leaflet Draw</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
  .leaflet-control-locate {
  border:1px solid rgba(0,0,0,0.4);
  }
.leaflet-control-locate a {
  background-color:#fff;
  background-position:-3px, -2px;
  }
.leaflet-control-locate.active a {
  background-position:-33px -2px;
  }
</style>
</head>
<body>

<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.24.0/L.Control.Locate.css' rel='stylesheet' />
<!--[if lt IE 9]>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.21.0/L.Control.Locate.ie.css' rel='stylesheet' />
<![endif]-->
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />
<script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
<script src='http://code.jquery.com/ui/1.9.2/jquery-ui.js'></script>
<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.3/leaflet-heat.js'></script>
<link href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' rel='stylesheet' />
<script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
<script src="/static/app/js/slidercontrol.js"></script>
<div id='map'></div>

<script>
L.mapbox.accessToken = 'pk.eyJ1Ijoia3ByYXNjaCIsImEiOiJ0U1RtQVpvIn0.wHmPex20_XUmpjL2a0a4mQ';
  var map = L.mapbox.map('map', 'examples.map-i86nkdio')
      .setView([41.7480 , -74.0840], 12);
      
  L.control.locate().addTo(map);
  var featureGroup = L.featureGroup().addTo(map);

  var circle_options = {
      color: '#fff',      // Stroke color
      opacity: 1,         // Stroke opacity
      weight: 10,         // Stroke weight
      fillColor: '#000',  // Fill color
      fillOpacity: 0.6    // Fill opacity
  };

  var circle_one = L.circle([38.89415, -77.03738], 20, circle_options).addTo(featureGroup);
  var line_points = [
      [38.893596444352134, -77.0349633693695]
  ];
  var polyline_options = {
      color: '#000'
  };
  var polyline = L.polyline(line_points, polyline_options).addTo(featureGroup);

  var drawControl = new L.Control.Draw({
    edit: {
      featureGroup: featureGroup
    }
  }).addTo(map);
  
  {% for i in incidents %}
  var marker{{i.id}} = L.marker([{{i.location.location.x}},{{i.location.location.y}}], {time: "{{i.time_str}}"}).bindLabel("System ID#{{i.id}}, {{i.received_time}}");
  {% endfor %}
    
  var layers = L.control.layers({
      Streets: L.mapbox.tileLayer('examples.map-i87786ca'),
      Outdoors: L.mapbox.tileLayer('examples.ik7djhcc'),
      Satellite: L.mapbox.tileLayer('examples.map-igb471ik'),
  },{
      Incident_Points: L.layerGroup([{% for i in incidents %}marker{{i.id}}, {% endfor %}]),
      Incident_Heat: L.heatLayer({{address_points}}, {maxZoom: 18})
  }).addTo(map);
  
  var sliderControl = L.control.sliderControl({layer:layers['Incidents'], range: true});  
  map.addControl(sliderControl);
  sliderControl.startSlider();
  
  $('#slider-timestamp').html(options.markers[ui.value].feature.properties.time.substr(0, 19));
  
  map.on('draw:created', function(e) {
      featureGroup.addLayer(e.layer);
  });
  
  L.geoJson({
  type: 'FeatureCollection',
  features: [{
      type: 'Feature',
      properties: {},
      geometry: {
          type: 'LineString',
          coordinates: [[0, 0], [10, 20]]
      }
  }, {
      type: 'Feature',
      properties: {},
      geometry: {
          type: 'Point',
          coordinates: [0, 0]
      }
  }]
}).addTo(map);
</script>

</body>
</html>

