{% extends "sitewide.html" %}

{% block main %}

<script>

function clickButton(incident_id, realtime) {
    IncidentLayer.eachLayer(function(marker) {
        if (marker.feature.id == incident_id) {
            map.panTo(marker.getLatLng());
            marker.openPopup();
        }
        $("#dispatch-list>li.incident-li-active").removeClass("incident-li-active");
        $('li[data-incidentId='+incident_id+']').addClass('incident-li-active');
        if (realtime == "true") {

        }
    });
}

function RefreshMap(feature) {
    var incidentHTML = '<li class="incident-li" id="incident-li" onclick="clickButton('+feature.id+')" data-incidentId="'+feature.id+')">' +
    '<div class="meta-created">'+feature.properties.dispatch_time+'</div>' +
    '<div class="meta-dispatch">'+feature.properties.meta.dispatch+'</div>' +
    '<div class="meta-coords">lng:'+feature.properties.location.lat+ '|' +feature.properties.location.lng+'</div>' +
    '<div class="meta-venue">'+feature.properties.meta.venue+'</div>' +
    '<div class="meta-xsts">'+feature.properties.meta.intersection+'</div></li>';

     $(incidentHTML).prependTo($("#dispatch-list"));
     IncidentLayer.loadURL('/get_geoincidents/');
     clickButton(feature.id, "true");
}

var sock = new SockJS('/twitter-dispatches/dispatch-stream');

 sock.onopen = function(e) {
     sock.send(JSON.stringify({"hx_subscribe": "twitter-dispatches"}));
     console.log('ws:' + e.data);
 };

 sock.onmessage = function(e) {
     console.log('message', e.data);
     var dispatch_list = document.getElementById('dispatch-list');

     messageJSON = JSON.parse(e.data);

     if(messageJSON.hasOwnProperty('geometry')) {
         RefreshMap(messageJSON);
     } else {
        div = document.getElementById('notifier');
        div.innerHTML = div.innerHTML + JSON.stringify(messageJSON);
        function fade_out() {
          div.innerHTML = '';
        };
        setTimeout(fade_out, 10000);
     }

 };

 //sock.close();
</script>

<div id="slider"></div>

<div id="app-container">

    <nav id='menu-ui' class='menu-ui'></nav>

    <div id="burger"><img src="/static/img/burger.png"></div>

    <div id='map'></div>

    <div id="sidebar">

        <div id="list-filter">
            <div id="selected-digits">0</div>
            <div id='counter-digits'>{{ incidents.count }}</div>
            <label for="tags"></label>
            <input id="list-filter-input" placeholder="Filter Incidents"></input>
            <div id="loader"><img src="/static/img/loader.gif" /></div>
        </div>
        <div class="nano">
            <ul id="dispatch-list" class="nano-content">
                {% for i in incidents %}
                   {% if i.meta.dispatch == '' %}

                    <li class="incident-li" id="incident-li" data-incidentId="{{ i.id }}" onclick="clickButton({{ i.id }}, 'false')">
                        <div class="meta-created">{{ i.dispatch_time }}</div>
                        <div class="meta-coords">lng:{{ i.location.point.x }} lat:{{ i.location.point.y }}</div>
                        <div class="dispatch-list-error">Error with incident DBID#{{ i.id }}</div>
                    </li>

                    {% else %}

                    <li class="incident-li" id="incident-li" data-incidentId="{{ i.id }}" onclick="clickButton({{ i.id }})">
                        <div class="meta-created">{{ i.dispatch_time }}</div>
                        <div class="meta-dispatch">{{ i.meta.dispatch }}</div>
                        <div class="meta-coords">{{ i.location.point.x }}|{{ i.location.point.y }}</div>
                        <div class="meta-venue">{{ i.meta.location }} : {{ i.location.street_address }}</div>
                        <div class="meta-xsts">{{ i.meta.intersection }}</div>
                    </li>

                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    </div>

    <div id="lower-panes-container">
            <div id="insight-controls">
                <ul id="insight-controls-list">
                    <li id="minimize-lower-panes" class="chart-controls"><img src="/static/img/burger.png"/></li>
                    <li id="volume-charts" class="chart-controls"><img src="/static/img/volume-chart.svg"/></li>
                    <li id="time-charts" class="chart-controls"><img src="/static/img/time-chart.svg"/></li>
                    <li id="weather-charts" class="chart-controls"><img src="/static/img/weather-chart.svg"/></li>
                </ul>

            </div>
            <div id='pane-two' class="panes lower-panes">

            </div>

            <div id='pane-three' class="panes lower-panes">
              <div id="chart-1" style="position: relative; min-width: 100px; height: 300px; margin: 0 auto;"></div>
            </div>

    </div>

</div>

<div id="notifier"></div>

<script>

/* CSRF =====================================================*/
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});





$(function() {
    $("#login-form").on("submit", function(event) {
        preventDefault();
        $.ajax({
            type: "POST",

        });
    });
});

$(function() {
	var $loading = $('#loader').hide();
	$(document)
	.ajaxStart(function () {
		$loading.show();
	})
	.ajaxStop(function () {
		$loading.hide();
	});
	return false;
});


$(function() {
	$("#list-filter-input").autocomplete({
		minLength: 0,
		disabled: false,
		source: function( request, response ) {
			$.ajax({
				type:"GET",
				url: "/incidents/search/",
				dataType: "json",
				data: {term:request.term},
				close: function () {

				},
				success: function (data) {
					IncidentLayer.setGeoJSON(data);
					 map.fitBounds(IncidentLayer.getBounds(), {paddingTopLeft: [-400, -800]});
				}
			});
		}
	});
});


$(function () {
    $('#pane-two').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Call Volume by Agency'
        },
        tooltip: {
            pointFormat: '<b>{point.y:.1f} dispatches</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Agencies',
            colorByPoint: true,
            data: [{% for k, v in pie_chart.items %}{
                name: '{{ k }}',
                y: {{ v }}
            },{% endfor %}]
        }]
    });
});


$(function () {
    $('#chart-1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -65,
                style: {
                    fontSize: '8px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Incident Volume'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: '<b>{point.y:.1f} dispatches</b>'
        },
        series: [{
            name: 'Incidents',
            data: [
            {% for k, v in incident_chart.items %}
            ['{{ k }}', {{ v }}],
            {% endfor %}
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
});

// Zack did this.
$(".nano").nanoScroller({ alwaysVisible: true });


$( "#slider" ).mouseup(function() {
  var dateSliderBounds = $("#slider").dateRangeSlider("bounds");
  var min = dateSliderBounds.min.toString();
  var max = dateSliderBounds.max.toString();

    $.ajax({
        type:"POST",
        url: "/incidents/filter/daterange",
        dataType: "json",
        data: {min:min, max:max},
        close: function () {

        },
        success: function (data) {
        IncidentLayer.setGeoJSON(data);
        //map.fitBounds(IncidentLayer.getBounds());
        }
    });

});


var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"];
  $("#slider").dateRangeSlider({
    bounds: {min: new Date(2012, 0, 1), max: new Date(2012, 11, 31, 12, 59, 59)},
    defaultValues: {min: new Date(2012, 1, 10), max: new Date(2012, 4, 22)},
    scales: [{
      first: function(value){ return value; },
      end: function(value) {return value; },
      next: function(value){
        var next = new Date(value);
        return new Date(next.setMonth(value.getMonth() + 1));
      },
      label: function(value){
        return months[value.getMonth()];
      },
      format: function(tickContainer, tickStart, tickEnd){
        tickContainer.addClass("myCustomClass");
      }
    }]
  });


L.mapbox.accessToken = 'pk.eyJ1Ijoia3ByYXNjaCIsImEiOiJ0U1RtQVpvIn0.wHmPex20_XUmpjL2a0a4mQ';
mapboxgl.accessToken = 'pk.eyJ1Ijoia3ByYXNjaCIsImEiOiJ0U1RtQVpvIn0.wHmPex20_XUmpjL2a0a4mQ';

{% comment %}
if (!mapboxgl.supported()) {
    alert('Your browser does not support Mapbox GL');

} else {
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/kprasch/cikh63zrs004j9vkooy90by64',
        center: [ -74.2600, 41.8900],
        zoom: 9
    });
}
 {% endcomment %}

var map = L.mapbox.map('map', null, {minZoom: 9, maxZoom:22})
              .setView([41.8900, -74.2600], 10);

var layers = document.getElementById('menu-ui');

{% if venue_filter == None %}
    var geoJSON = '/get_geoincidents'
{% else %}
    var geoJSON = '/get_geoincidents/{{ venue_filter }}'
{% endif %}

var IncidentLayer = new L.mapbox.featureLayer().loadURL(geoJSON);
var ClusterLayer = new L.MarkerClusterGroup();



//var MostRecentLayer = new L.mapbox.featureLayer()
//    .loadURL('https://wanderdrone.appspot.com/')
    // Once this layer loads, we set a timer to load it again in a few seconds.
//    .on('ready', run_recent)
//    .addTo(map);

//var heat = L.heatLayer([geojson], { maxZoom: 12 });

addLayer(IncidentLayer, 'Incidents (all)', 1, "false");
addLayer(ClusterLayer, 'Incidents (cluster)', 2, "true");
//addLayer(heat, 'Heat Map', 3, false);
addLayer(L.mapbox.tileLayer('mapbox.streets'), 'Streets', 4, "false");
addLayer(L.mapbox.tileLayer('mapbox.satellite'), 'Satellite', 5, "false");
addLayer(L.mapbox.tileLayer('mapbox.outdoors'), 'Outdoors', 6, "true");
addLayer(L.mapbox.tileLayer('kprasch.59f9f541'), 'Civil Borders', 7, "false");


function addLayer(layer, name, zIndex, initial) {
    // Create a simple layer switcher that
    // toggles layers on and off.
    var link = document.createElement('a');
        link.href = '#';
        link.className = '';
        link.innerHTML = name;

        if (initial == "true") {
        layer.setZIndex(zIndex)
        layer.addTo(map);
        link.className = 'active';
        } else {
        layer.setZIndex(zIndex);
        }

    link.onclick = function(e) {
        e.preventDefault();
        e.stopPropagation();

        if (map.hasLayer(layer)) {
            map.removeLayer(layer);
            this.className = '';
        } else {
            map.addLayer(layer);
            this.className = 'active';
        }
    };

    layers.appendChild(link);
}


IncidentLayer.on('layeradd', function(e) {
  var marker = e.layer,
  feature = marker.feature;
  marker.setIcon(L.icon({"iconUrl": "/static/img/RedDot.svg",
                         "iconSize": [9, 9],
                         "iconAnchor": [0, 0],
                         "popupAnchor": [4, 0],
                         "className": "dot"}));

  // Create custom popup content
  var popupContent =  '<div class="incident-tooltip">' +
                       feature.properties.meta.dispatch + " in " + feature.properties.meta.location +
                       '<ul class="tooltip-list">' +
                       '<li>' + feature.properties.meta.street_address + ', {{ locale_state }}</li>' +
                       '<li>' + feature.properties.meta.intersection + '</li>' +
                       '<li> Lng: ' + feature.properties.location.lng + '</li>' +
                       '<li> Lat: ' + feature.properties.location.lat + '</li>' +
                       '<li>Dispatched: ' + feature.properties.dispatch_time + '</li>' +
                       '<li>Twitter Received: ' + feature.properties.received_time + '</li>' +
                       '<li>Web Created: ' + feature.properties.created_time + '</li>' +
                       '<li>' + feature.id + '</li>' +
                       '<li><a href="/flag_incorrect/">Report an incorrect location.</a></li>' +
                       '<li><img class="streetview-img" src="' + feature.properties.location.streetview_url + '"></li>'
                       '</ul></div>';

  // http://leafletjs.com/reference.html#popup
  marker.bindPopup(popupContent,{
                   closeButton: true,
                   keepInView: true,
                   minWidth: 320
                   }).on('click', function(e) {
      list_id = e.target.feature.id;
      $("#dispatch-list>li.incident-li-active").removeClass("incident-li-active");

      $('li[data-incidentId='+list_id+']').addClass('incident-li-active');
      $(".nano").nanoScroller({ scrollTo:  $('li[data-incidentId='+list_id+']') });

    });
});




IncidentLayer.on('ready', function() {
    // featureLayer.getBounds() returns the corners of the furthest-out markers,
    // and map.fitBounds() makes sure that the map contains these.
    ClusterLayer.addLayer(IncidentLayer);
    map.fitBounds(IncidentLayer.getBounds(), {paddingTopLeft: [-400, -800]});

});


//var runLayer = omnivore.kml('/static/product/data/ulster-agencies.kml')
//    .on('ready', function() {
//        map.fitBounds(runLayer.getBounds());
//    })
//    .addTo(map);



</script>


{% endblock %}