{% extends "global/sitewide.html" %}

{% block extra_head %}
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.3/leaflet-heat.js'></script>
  <script src="/static/global/js/jQDateRangeSlider-withRuler-min.js"></script>
  <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
  <script src="/static/global/js/grid-light.js"></script>

  <script src="/static/global/js/map-sock.js"></script>


{% endblock %}

{% block top_bar %}
  {% include "global/top_bar.html" %}
{% endblock %}

{% block main %}

<div id="slider"></div>

<div id="app-container">

    <nav id='menu-ui' class='menu-ui'></nav>

    <div id="burger"><img src="/static/img/burger.png"></div>

    <div id='map'></div>

    <div id="sidebar">

        <div id="list-filter">
            <div id="selected-digits">0</div>
            <div id='counter-digits'>{{ incidents.count }}</div>
            <label for="tags"></label>
            <input id="list-filter-input" placeholder="Filter Incidents"></input>
            <div id="loader"><img src="/static/img/loader.gif" /></div>
        </div>
        <div class="nano">
            <ul id="dispatch-list" class="nano-content">
                {% for i in incidents %}
                   {% if i.meta.dispatch == '' %}

                    <li class="incident-li" id="incident-li" data-incidentId="{{ i.id }}" onclick="clickButton({{ i.id }}, 'false')">
                        <div class="meta-created">{{ i.dispatch_time }}</div>
                        <div class="meta-coords">lng:{{ i.location.point.x }} lat:{{ i.location.point.y }}</div>
                        <div class="dispatch-list-error">Error with incident DBID#{{ i.id }}</div>
                    </li>

                    {% else %}

                    <li class="incident-li" id="incident-li" data-incidentId="{{ i.id }}" onclick="clickButton({{ i.id }})">
                        <div class="meta-created">{{ i.dispatch_time }}</div>
                        <div class="meta-dispatch">{{ i.meta.dispatch }}</div>
                        <div class="meta-coords">{{ i.location.point.x }}|{{ i.location.point.y }}</div>
                        <div class="meta-venue">{{ i.meta.location }} : {{ i.location.street_address }}</div>
                        <div class="meta-xsts">{{ i.meta.intersection }}</div>
                    </li>

                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    </div>

    <div id="lower-panes-container">
            <div id="insight-controls">
                <ul id="insight-controls-list">
                    <li id="minimize-lower-panes" class="chart-controls"><img src="/static/img/burger.png"/></li>
                    <li id="volume-charts" class="chart-controls"><img src="/static/img/volume-chart.svg"/></li>
                    <li id="time-charts" class="chart-controls"><img src="/static/img/time-chart.svg"/></li>
                    <li id="weather-charts" class="chart-controls"><img src="/static/img/weather-chart.svg"/></li>
                </ul>

            </div>
            <div id='pane-three' class="panes lower-panes">
              <div id="chart-1" style="position: relative; min-width: 100px; height: 250px; padding-top: 35px; margin: 0 auto;"></div>
            </div>

    </div>

</div>

<div id="notifier"></div>

<script>
{% if venue_filter == None %}
    var geoJSON = '/get_geoincidents'
{% else %}
    var geoJSON = '/get_geoincidents/{{ venue_filter }}'
{% endif %}

$(function () {
    $('#chart-1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: ''
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -65,
                style: {
                    fontSize: '8px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Incident Volume'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: '<b>{point.y:.1f} dispatches</b>'
        },
        series: [{
            name: 'Incidents',
            data: [
            {% for k, v in incident_chart.items %}
            ['{{ k }}', {{ v }}],
            {% endfor %}
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
});

$(function () {
    $('#pane-two').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Call Volume by Agency'
        },
        tooltip: {
            pointFormat: '<b>{point.y:.1f} dispatches</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Agencies',
            colorByPoint: true,
            data: [{% for k, v in pie_chart.items %}{
                name: '{{ k }}',
                y: {{ v }}
            },{% endfor %}]
        }]
    });
});
</script>

<script src="/static/global/js/map.js"></script>

{% endblock %}